.Card{
    border-radius: 10px;
    overflow: hidden; 
    border: 3px solid;
    margin: 30px;

    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
}

.Card .Title{
    padding: 5px 0px;
    justify-content: center;
}

.Card .Content{
    flex-grow: 1;
    background-color: #fff;
    color: #000;
    padding: 10px;
}