.listaProdutos th{
    background-color: #122525;
    color: white;
}

.listaProdutos table{
    width: 100%;
}

.listaProdutos .Par{
    background-color: #ddd;
}

.listaProdutos .Impar{
    background-color: #ccc;
}