.Contador button{
    background-color: blanchedalmond;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 2rem 15px 0px 15px;
    font-size: 1.4rem;
}

.Contador input{
    font-size: 1.4rem;
    width: 60px;
    margin: 15px 0px 0px 10px;
}